.orselection{
    position: relative;
    width: 100%;
}
.orselection::before{
    content: "";
    position: absolute;
    bottom: 40%;
    left: 120%;
    width: 100px;
    height: 2px;
    background-color: #818181;
    z-index: 1;
}
.orselection::after{
    content: "";
    position: absolute;
    bottom: 40%;
    right: 120%;
    width: 100px;
    height: 2px;
    background-color: #818181;
    z-index: 1;
}
.orselection-mob{
    position: relative;
    width: 100%;
}
.orselection-mob::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    width: 15%;
    height: 2px;
    background-color: #818181;
    z-index: 1;
}
.orselection-mob::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 30%;
    width: 15%;
    height: 2px;
    background-color: #818181;
    z-index: 1;
}